.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #f52291;
    margin: auto;
}

.res {
    width: 600px;
    height: 40px;
    margin: auto;
}

.pole {
    width: 600px;
    height: 40px;
    margin: auto;
    border: #f52291 3px solid;
}

#kitty {
    width: 50px;
    height: 50px;
    background-image: url(img/kitty.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

#kaktus {
    width: 40px;
    height: 40px;
    background-image: url(img/kaktus.png);
    background-size: 40px 40px;
    position: relative;
    top: 110px;
    left: 580px;
    animation: kaktusMov 2s infinite linear;
}

@keyframes kaktusMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 1.5s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 130px;
    }
    50% {
        top: 80px;
    }
    80% {
        top: 130px;
    }
    100% {
        top: 150px;
    }
}
